*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#image{
    width: 100%;
    height: 100%;
}
#image video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
h1{
    position: absolute;
    font-size: 3vw;
    font-family: Nib Pro;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
}
h4{
    position: absolute;
    font-size: 2.5vw;
    font-family: Nib Pro;
    bottom: 10%;
    right: 10%;
}

@media (max-width:600px) {
    h1{
        top: 20%;
        font-size: 7vw;
        left: 40%;
    }
    h4{
        font-size: 4vw;
        
    }
}